/* Error: Missing argument $color.
 *   ,--> scss\_contact.scss
 * 127|                 filter: brightness(0.8) invert(1) grayscale();
 *   |                                                   ^^^^^^^^^^^ invocation
 *   '
 *   ,--> sass:color
 * 1 | @function grayscale($color) {
 *   |           ================= declaration
 *   '
 *   scss\_contact.scss 127:39  @import
 *   scss\style.scss 13:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $color.\a   \250c \2500 \2500 > scss\\_contact.scss\a 127\2502                  filter: brightness(0.8) invert(1) grayscale();\d\a   \2502                                                    ^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > sass:color\a 1 \2502  @function grayscale($color) {\a   \2502            \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   scss\\_contact.scss 127:39  @import\a   scss\\style.scss 13:9       root stylesheet";
}
