@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Raleway";
  color: #efefef;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}

.hidden {
  position: absolute;
  top: -999999px;
  opacity: 0;
}

body {
  background-color: #0b0909;
}

body #header_sub {
  width: 100%;
  padding: 50px 0vw 0vh;
}
body #header_sub .inner {
  width: 1180px;
  height: 110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
body #header_sub .inner > h1 {
  width: 11%;
  margin-right: 14%;
}
body #header_sub .inner > h1 a {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}
body #header_sub .inner .menuWeb {
  width: 75%;
}
body #header_sub .inner .menuWeb::after {
  content: "";
  display: block;
  clear: both;
}
body #header_sub .inner .menuWeb #gnb {
  float: left;
}
body #header_sub .inner .menuWeb #gnb li {
  float: left;
  margin-right: 20px;
}
body #header_sub .inner .menuWeb #gnb li a {
  font-size: 14px;
}
body #header_sub .inner .menuWeb #gnb li a:hover {
  color: rgb(203, 119, 10);
}
body #header_sub .inner .menuWeb .sns {
  float: right;
}
body #header_sub .inner .menuWeb .sns li {
  float: left;
}
body #header_sub .inner .menuWeb .sns li:nth-of-type(1) {
  margin-right: 20px;
}
body #header_sub .inner .menuWeb .sns li a {
  font-size: 14px;
}
body #header_sub .inner .btnCall {
  position: absolute;
  right: 0vw;
  top: 10%;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
body #header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #efefef;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
body #header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #efefef;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
body #header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #efefef;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  transition: 1s;
  text-indent: -9999px;
}
body #header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
body #header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
body #header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
body #header_sub .inner .menuMo {
  width: 270px;
  height: 100vh;
  background-color: #efefef;
  text-align: center;
  position: fixed;
  top: 0;
  left: -270px;
  padding: 35px 30px;
  z-index: 10;
  transition: 0.5s;
  display: none;
}
body #header_sub .inner .menuMo.on {
  left: 0;
}
body #header_sub .inner .menuMo h1 {
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(172, 166, 166);
}
body #header_sub .inner .menuMo h1 a {
  display: block;
  font-size: 24px;
  color: #0b0909;
  text-align: left;
  line-height: 1.4;
  display: flex;
  justify-content: center;
}
body #header_sub .inner .menuMo h1 p {
  font-size: 12px;
  color: #464646;
}
body #header_sub .inner #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgb(172, 166, 166);
  font-size: 14px;
  color: #636262;
}
body .content_sub {
  width: 100%;
  padding: 0 0 150px;
  overflow: hidden;
}
body .content_sub .inner {
  width: 1180px;
  margin: 0 auto;
  min-height: 500px;
  position: relative;
}
body .content_sub .inner h1 {
  width: 65%;
  font-size: 50px;
  color: #efefef;
  border-bottom: 1px solid #9a9a9a;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
body .content_sub .inner > p {
  width: 65%;
  font-size: 16px;
  color: #9a9a9a;
  margin-bottom: 200px;
}
body .content_sub .inner > p::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #9a9a9a;
  position: absolute;
  top: 300px;
  left: 0;
}
body #footer_sub .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 30px 0px 20px;
  border-top: 2px solid #aaa;
}
body #footer_sub .inner h1 {
  float: left;
  font-size: 15px;
  font-weight: 600;
}
body #footer_sub .inner ul {
  float: right;
}
body #footer_sub .inner ul li {
  float: left;
  margin-left: 20px;
}
body #footer_sub .inner ul li a {
  font-size: 14px;
  color: #9a9a9a;
}
body #footer_sub .inner ul li a:hover {
  color: rgb(203, 119, 10);
}
body #footer_sub .inner address {
  float: left;
  width: 100%;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  color: #9a9a9a;
  margin-top: 10px;
  margin-bottom: 10px;
}
body #footer_sub .inner p {
  float: left;
  width: 100%;
  font-size: 13px;
  color: #9a9a9a;
  margin-bottom: 30px;
}

@media screen and (max-width: 1179px) {
  body #header_sub {
    padding: 5vh 5vw 0vh;
  }
  body #header_sub .inner {
    width: 100%;
  }
  body #header_sub .inner > h1 {
    width: 100%;
  }
  body #header_sub .inner .menuWeb {
    display: none;
  }
  body #header_sub .inner .btnCall {
    display: block;
  }
  body #header_sub .inner .menuMo {
    display: block;
  }
  body .content_sub .inner {
    padding: 0vh 5vw;
  }
  body .content_sub .inner > p::after {
    margin: 0vh 5vw;
  }
  body #footer_sub .inner {
    width: 100%;
    padding: 3vw 5vw 5vh;
    left: 0;
    right: 5vw;
  }
}
.about .inner .content {
  width: 100%;
  margin-bottom: 100px;
  position: relative;
}
.about .inner .content::after {
  content: "";
  display: block;
  clear: both;
}
.about .inner .content h2 {
  width: 100%;
  float: left;
  font-size: 30px;
  font-weight: 400;
  padding-top: 10px;
  margin-bottom: 50px;
}
.about .inner .content h2::after {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background-color: rgb(203, 119, 10);
  position: absolute;
  top: 0;
  left: 0;
}
.about .inner .content div {
  width: 870px;
  height: 400px;
  float: right;
  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}
.about .inner .content p {
  width: 870px;
  float: right;
  font-size: 18px;
  color: #9a9a9a;
}
.about .inner .team {
  width: 100%;
  position: relative;
}
.about .inner .team::after {
  content: "";
  display: block;
  clear: both;
}
.about .inner .team h2 {
  font-size: 30px;
  font-weight: 400;
  padding-top: 10px;
  margin-bottom: 50px;
}
.about .inner .team h2::after {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background-color: rgb(203, 119, 10);
  position: absolute;
  top: 0;
  left: 0;
}
.about .inner .team .wrap article {
  width: 280px;
  float: left;
  margin-right: 20px;
  padding: 10px 10px;
}
.about .inner .team .wrap article:last-of-type {
  margin-right: 0px;
}
.about .inner .team .wrap article .pic {
  width: 100%;
  height: 300px;
  overflow: hidden;
  filter: saturate(70%);
  margin-bottom: 15px;
  position: relative;
}
.about .inner .team .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(70%);
}
.about .inner .team .wrap article .pic p {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .inner .team .wrap article .pic p a {
  font-size: 25px;
  padding: 10px;
  opacity: 0;
}
.about .inner .team .wrap article .pic p a i {
  color: rgb(203, 119, 10);
}
.about .inner .team .wrap article .pic:hover img {
  opacity: 0.2;
}
.about .inner .team .wrap article .pic:hover p a {
  opacity: 1;
  z-index: 3;
}
.about .inner .team .wrap article h3,
.about .inner .team .wrap article > p {
  padding: 0px 15px;
}
.about .inner .team .wrap article h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.about .inner .team .wrap article > p {
  font-size: 16px;
  color: #9a9a9a;
}

.vidList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
.vidList article {
  width: 48%;
  height: 400px;
  border: 1px solid rgb(110, 109, 109);
  margin-bottom: 40px;
}
.vidList article .pic {
  display: block;
  width: 100%;
  height: 60%;
  padding: 10px;
}
.vidList article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.vidList article .con {
  width: 100%;
  height: 40%;
  padding: 20px;
}
.vidList article .con h2 {
  font: bold 20px/1.2 "arial";
  color: #a9a9a9;
  margin-bottom: 15px;
}
.vidList article .con p {
  font: 14px/1.4 "arial";
  color: rgb(110, 109, 109);
  margin-bottom: 20px;
}
.vidList article .con span {
  font: bold 16px/1 "arial";
  color: rgb(203, 119, 10);
}
.vidList figure.pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vidList figure.pop .btnClose {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #fff;
  cursor: pointer;
}

.contact {
  width: 100%;
}
.contact::after {
  content: "";
  display: block;
  clear: both;
}
.contact .content {
  width: 580px;
  float: left;
}
.contact .content div {
  width: 280px;
  height: 210px;
  float: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.contact .content div img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-bottom: 30px;
}
.contact .content div p {
  width: 100%;
  font-size: 18px;
  color: #efefef;
  margin-bottom: 15px;
}
.contact .content div span {
  width: 100%;
  font-size: 16px;
  color: #9a9a9a;
}
.contact .wrap {
  float: right;
  width: 580px;
  margin: 0px 0px 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 50px 15px;
}
.contact .wrap h2 {
  font-size: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}
.contact .wrap div {
  width: 100%;
  font-size: 14px;
}
.contact .wrap div label {
  width: 100%;
  display: block;
  padding: 15px 0px 3px;
  color: #9a9a9a;
}
.contact .wrap div input[type=text],
.contact .wrap div input[type=email] {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #333;
  background: none;
}
.contact .wrap div input[type=text]:focus,
.contact .wrap div input[type=email]:focus {
  outline: none;
}
.contact .wrap div select {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #333;
  background: none;
}
.contact .wrap div select:focus {
  outline: none;
}
.contact .wrap div select option {
  color: #0b0909;
}
.contact .wrap div textarea {
  width: 100%;
  height: 25px;
  margin-top: 5px;
  border: none;
  border-bottom: 2px solid #333;
  background: none;
  resize: none;
}
.contact .wrap div textarea:focus {
  outline: none;
}
.contact .wrap div input[type=submit] {
  width: 100px;
  height: 30px;
  border-radius: 0%;
  background-color: #efefef;
  color: #0b0909;
  margin: 15px 0px 0px 380px;
  cursor: pointer;
  transition: 0.5s;
}
.contact .wrap div input[type=submit]:hover {
  background-color: rgb(203, 119, 10);
  color: #efefef;
}
.contact #map {
  width: 100%;
  height: 500px;
  border: 1px solid #000;
  margin-bottom: 20px;
  float: left;
}
.contact::after {
  content: "";
  display: block;
  clear: both;
}
.contact .traffic {
  float: left;
}
.contact .traffic li {
  float: left;
  margin-right: 20px;
}
.contact .traffic li a {
  display: block;
  width: 200px;
  height: 40px;
  background: #555;
  font: bold 12px/40px "맑은 고딕";
  color: #fff;
  text-align: center;
  border: 1px solid #555;
}
.contact .traffic li.on a {
  background: #fff;
  color: #333;
}
.contact .branch {
  float: right;
}
.contact .branch li {
  float: left;
  margin-left: 10px;
}
.contact .branch li a {
  display: block;
  width: 200px;
  height: 40px;
  background: #555;
  font: bold 12px/40px "맑은 고딕";
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  border: 1px solid #555;
}
.contact .branch li.on a {
  background: #fff;
  color: #333;
}

.community .inner table {
  width: 100%;
  border-bottom: 2px solid #111;
  border-collapse: collapse;
  margin-bottom: 50px;
}
.community .inner table tr:hover td, .community .inner table tr:hover a {
  color: rgb(203, 119, 10);
}
.community .inner table tr th {
  padding: 15px;
  background: #444;
  color: #dedede;
}
.community .inner table tr th:nth-of-type(1) {
  width: 10%;
}
.community .inner table tr th:nth-of-type(3) {
  width: 15%;
}
.community .inner table tr th:nth-of-type(4) {
  width: 15%;
}
.community .inner table tr td {
  padding: 13px;
  border-bottom: 1px solid #444;
  text-align: center;
  color: #9a9a9a;
}
.community .inner table tr td:nth-of-type(2) {
  text-align: left;
}
.community .inner table tr td:nth-of-type(3) {
  font-family: "맑은 고딕";
}
.community .inner table tr td a {
  color: #9a9a9a;
  line-height: 1.4;
}
.community .inner .pagination {
  width: 100%;
  text-align: center;
}
.community .inner .pagination::after {
  content: "";
  display: block;
  clear: both;
}
.community .inner .pagination .prev {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  color: #efefef;
  font-size: 20px;
  text-align: center;
}
.community .inner .pagination .next {
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  color: #efefef;
  font-size: 20px;
  text-align: center;
}
.community .inner .pagination .numbers {
  display: inline-block;
  text-align: center;
  font-size: 0;
}
.community .inner .pagination .numbers a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #888;
  font-size: 11px;
  line-height: 30px;
  color: #666;
  margin: 0 5px;
  transition: 0.5s;
}
.community .inner .pagination .numbers a:hover {
  background: rgb(203, 119, 10);
  color: #efefef;
}

@media screen and (max-width: 1179px) {
  .community .inner table tr th:nth-of-type(1) {
    width: 13%;
  }
  .community .inner table tr th:nth-of-type(3) {
    width: 20%;
  }
  .community .inner table tr th:nth-of-type(4) {
    width: 0%;
    display: none;
  }
  .community .inner table tr td:nth-of-type(4) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(6) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(7) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(8) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(9) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(10) {
    display: none;
  }
}
@media screen and (max-width: 539px) {
  .community .inner table tr th {
    font-size: 13px;
  }
  .community .inner table tr th:nth-of-type(1) {
    width: 0%;
    display: none;
  }
  .community .inner table tr th:nth-of-type(3) {
    width: 29%;
  }
  .community .inner table tr td:nth-of-type(1) {
    display: none;
  }
  .community .inner .pagination .numbers {
    display: none;
  }
}
.join .inner fieldset {
  border: none;
}
.join .inner fieldset h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.join .inner fieldset #terms {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 20px;
  font-size: 12px;
  line-height: 1.3;
  color: #0b0909;
  background-color: #ddd;
  margin-bottom: 10px;
}
.join .inner fieldset .agreement {
  display: flex;
  justify-content: flex-end;
  margin: 0px 10px 70px 0px;
}
.join .inner fieldset .agreement label[for=agree] {
  font-size: 14px;
  margin-left: 10px;
}
.join .inner fieldset table {
  width: 100%;
  border-top: 2px solid #9a9a9a;
  border-bottom: 2px solid #9a9a9a;
}
.join .inner fieldset table th,
.join .inner fieldset table td {
  border-bottom: 1px solid rgb(110, 109, 109);
  padding: 25px;
}
.join .inner fieldset table th {
  width: 20%;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
}
.join .inner fieldset table th:last-child {
  text-align: center;
  border-bottom: none;
}
.join .inner fieldset table th input[type=submit] {
  width: 150px;
  height: 40px;
  border: 1px solid #0b0909;
  margin: 10px auto;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  color: #0b0909;
  cursor: pointer;
  transition: 0.5s;
}
.join .inner fieldset table th input[type=submit]:hover {
  background-color: rgb(203, 119, 10);
  color: #efefef;
}
.join .inner fieldset table td {
  border-left: 1px solid #9a9a9a;
}
.join .inner fieldset table td input[type=text],
.join .inner fieldset table td input[type=password],
.join .inner fieldset table td input[type=tel],
.join .inner fieldset table td select {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 10px;
  border: 1px solid #9a9a9a;
}
.join .inner fieldset table td select option {
  color: #0b0909;
}
.join .inner fieldset table td input[type=radio],
.join .inner fieldset table td input[type=checkbox] {
  margin-right: 5px;
}
.join .inner fieldset table td label {
  margin-right: 25px;
}
.join .inner fieldset table td p {
  font: 11px/1 "맑은고딕";
  color: rgb(203, 119, 10);
  margin-top: 10px;
}

/*
전체
color:#efefef;
톤다운 1
color:#a9a9a9;
톤다운 2
color: rgb(110, 109, 109);
포인트
color: rgb(203, 119, 10);
*/
body #skipNavi {
  z-index: 10;
}
body #skipNavi li a {
  display: block;
  width: 100%;
  height: 40px;
  background: rgba(236, 233, 233, 0.666);
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  color: #0b0909;
  text-align: center;
  position: fixed;
  left: 0;
  top: -40px;
}
body #skipNavi li a.on {
  top: 0;
}
body .scroll {
  position: fixed;
  right: 2vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
}
body .scroll li {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
body .scroll li a {
  display: block;
  width: 9px;
  height: 9px;
  line-height: 24px;
  margin-left: 1vw;
  border-radius: 1px;
  background-color: rgb(110, 109, 109);
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}
body .scroll li p {
  font-size: 10px;
  color: rgb(110, 109, 109);
  cursor: pointer;
  opacity: 0;
  transition: 1;
}
body .scroll li.on a, body .scroll li:hover.a {
  transform: scale(1.1);
  background-color: #efefef;
}
body .scroll li:hover p {
  opacity: 1;
}
body #header {
  width: 100%;
  padding: 50px 0vw 0vh;
}
body #header .inner {
  width: 1180px;
  height: 110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
body #header .inner > h1 {
  width: 11%;
  margin-right: 14%;
}
body #header .inner > h1 a {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}
body #header .inner .menuWeb {
  width: 75%;
}
body #header .inner .menuWeb::after {
  content: "";
  display: block;
  clear: both;
}
body #header .inner .menuWeb #gnb {
  float: left;
}
body #header .inner .menuWeb #gnb li {
  float: left;
  margin-right: 20px;
}
body #header .inner .menuWeb #gnb li a {
  font-size: 14px;
  transition: 0.5s;
}
body #header .inner .menuWeb #gnb li a:hover {
  color: rgb(203, 119, 10);
}
body #header .inner .menuWeb .sns {
  float: right;
}
body #header .inner .menuWeb .sns li {
  float: left;
}
body #header .inner .menuWeb .sns li:nth-of-type(1) {
  margin-right: 20px;
}
body #header .inner .menuWeb .sns li a {
  font-size: 14px;
}
body #header .inner .btnCall {
  position: absolute;
  right: 0vw;
  top: 10%;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
body #header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #efefef;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
body #header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #efefef;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
body #header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #efefef;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  transition: 1s;
  text-indent: -9999px;
}
body #header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
body #header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
body #header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
body #header .inner .menuMo {
  width: 270px;
  height: 100vh;
  background-color: #efefef;
  text-align: center;
  position: fixed;
  top: 0;
  left: -270px;
  padding: 35px 30px;
  z-index: 10;
  transition: 0.5s;
  display: none;
}
body #header .inner .menuMo.on {
  left: 0;
}
body #header .inner .menuMo h1 {
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(172, 166, 166);
}
body #header .inner .menuMo h1 a {
  display: block;
  font-size: 24px;
  color: #0b0909;
  text-align: left;
  line-height: 1.4;
  display: flex;
  justify-content: center;
}
body #header .inner .menuMo h1 p {
  font-size: 12px;
  color: #464646;
}
body #header .inner #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgb(172, 166, 166);
  font-size: 14px;
  color: #636262;
}
body #visual {
  width: 1180px;
  height: calc(100vh - 110px - 50px);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  min-height: 750px;
}
body #visual.off .btnOpen {
  margin-bottom: -100%;
  opacity: 0;
}
body #visual.off .txt {
  margin-top: -100%;
  opacity: 0;
}
body #visual.off .pic {
  margin-right: -100%;
  opacity: 0;
}
body #visual.off .wrap #slider,
body #visual.off .wrap .prev,
body #visual.off .wrap .next {
  margin-left: -100%;
  opacity: 0;
}
body #visual .inner {
  width: 100%;
  height: 100%;
}
body #visual .inner .btnOpen {
  display: block;
  width: 150px;
  height: 20px;
  position: absolute;
  left: 25%;
  bottom: 98px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(203, 119, 10);
  text-decoration-line: underline;
  transition: 1s 0s;
}
body #visual .inner .btnOpen:hover {
  color: rgb(249, 173, 110);
  font-size: 15px;
}
body #visual .inner .txt {
  width: 300px;
  position: absolute;
  top: 0;
  left: 25%;
  transition: 1s 0s;
}
body #visual .inner .txt h1 {
  margin-bottom: 200px;
  font-size: 120px;
  font-weight: 500;
}
body #visual .inner .txt p {
  font-size: 16px;
  color: rgb(110, 109, 109);
}
body #visual .inner .pic {
  width: 470px;
  height: 650px;
  position: absolute;
  top: 10px;
  right: 0;
  overflow: hidden;
  transition: 1s 0.2s;
}
body #visual .inner .pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(70%);
  transition: 0.5s;
}
body #visual .inner .pic > img:hover {
  transform: scale(1.2);
}
body #visual .inner .wrap #slider {
  width: 250px;
  height: 300px;
  position: absolute;
  top: 290px;
  left: 0;
  overflow: hidden;
  transition: 1s 0.4s;
}
body #visual .inner .wrap #slider ul {
  width: 500%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body #visual .inner .wrap #slider ul li {
  width: 20%;
  height: 100%;
  float: left;
}
body #visual .inner .wrap #slider ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(70%);
  transition: 0.5s;
}
body #visual .inner .wrap #slider ul li img:hover {
  transform: scale(1.2);
}
body #visual .inner .wrap .prev {
  width: 100px;
  height: 15px;
  position: absolute;
  left: 0;
  bottom: 98px;
  transition: 1s 0.4s;
}
body #visual .inner .wrap .prev img {
  width: 100%;
  height: 100%;
}
body #visual .inner .wrap .next {
  width: 100px;
  height: 15px;
  position: absolute;
  left: 13%;
  bottom: 98px;
  transition: 1s 0.4s;
}
body #visual .inner .wrap .next img {
  width: 100px;
  height: 100%;
}
body #visual .inner .wrap .pagination {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 400px;
  left: 0;
  margin-left: 25%;
  font-size: 18px;
  font-weight: 400;
}
body #about .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 30px 0px 70px;
  border-top: 2px solid #9a9a9a;
}
body #about .inner h1 {
  margin-bottom: 30px;
  transform: translateY(-50%);
  opacity: 0;
  transition: 1s;
}
body #about .inner .txt {
  display: flex;
  justify-content: space-between;
}
body #about .inner .txt h2 {
  width: 400px;
  font-size: 18px;
  color: #9a9a9a;
  transform: translateX(-20%);
  opacity: 0;
  transition: 1s 0.5s;
}
body #about .inner .txt p {
  width: 600px;
  font-size: 17px;
  text-align: justify;
  color: rgb(110, 109, 109);
  transform: translateX(20%);
  opacity: 0;
  transition: 1s 0.5s;
}
body #about.on .inner h1 {
  transform: translateY(0%);
  opacity: 1;
}
body #about.on .inner .txt h2 {
  transform: translateX(0%);
  opacity: 1;
}
body #about.on .inner .txt p {
  transform: translateX(0%);
  opacity: 1;
}
body #portfolio {
  width: 100%;
}
body #portfolio .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 30px 0px 70px;
  border-top: 2px solid #aaa;
  overflow: hidden;
  position: relative;
}
body #portfolio .inner::after {
  content: "";
  display: block;
  clear: both;
}
body #portfolio .inner h1 {
  float: left;
  transform: translateY(-50%);
  opacity: 0;
  transition: 1s;
}
body #portfolio .inner .container {
  width: 1180px;
  float: right;
  overflow: hidden;
  transform: translateY(50%);
  opacity: 0;
  transition: 1s 0.5s;
}
body #portfolio .inner .container::after {
  content: "";
  display: block;
  clear: both;
}
body #portfolio .inner .container .tab {
  width: 500px;
  float: right;
  margin: 30px 0px 20px;
}
body #portfolio .inner .container .tab ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
body #portfolio .inner .container .tab ul li {
  width: 100%;
  height: 20px;
  float: left;
  margin-left: 2vw;
}
body #portfolio .inner .container .tab ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: rgb(110, 109, 109);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
body #portfolio .inner .container .tab ul li a:hover {
  color: rgb(203, 119, 10);
}
body #portfolio .inner .container .tab ul li.on a {
  color: rgb(203, 119, 10);
  text-decoration: underline;
}
body #portfolio .inner .container section {
  width: 820px;
  height: 250px;
  position: relative;
  float: right;
}
body #portfolio .inner .container section article {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  display: none;
  opacity: 0;
}
body #portfolio .inner .container section article.on {
  display: block;
  opacity: 1;
}
body #portfolio .inner .container section article div {
  width: 260px;
  height: 100%;
  float: left;
  margin-left: 20px;
  overflow: hidden;
  position: relative;
}
body #portfolio .inner .container section article div:first-of-type {
  margin-left: 0px;
}
body #portfolio .inner .container section article div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(70%);
  transition: 0.5s;
}
body #portfolio .inner .container section article div p {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 17px;
  left: 0;
  text-align: center;
  font-size: 13px;
  letter-spacing: 4px;
  color: #eee;
  opacity: 0;
  z-index: 4;
}
body #portfolio .inner .container section article div::after {
  content: "";
  display: block;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: -50px;
  left: 0;
  opacity: 0.8;
  transition: 0.5s;
  z-index: 3;
}
body #portfolio .inner .container section article div:hover img {
  transform: scale(1.2);
  bottom: 0;
}
body #portfolio .inner .container section article div:hover p {
  opacity: 1;
}
body #portfolio .inner .container section article div:hover::after {
  bottom: 0px;
}
body #portfolio.on .inner h1 {
  transform: translateY(0%);
  opacity: 1;
}
body #portfolio.on .inner .container {
  transform: translateY(0%);
  opacity: 1;
}
body #awards .inner {
  width: 1180px;
  height: 650px;
  margin: 0 auto;
  padding: 30px 0px 30px;
  border-top: 2px solid #aaa;
}
body #awards .inner::after {
  content: "";
  display: block;
  clear: both;
}
body #awards .inner h1 {
  float: left;
  width: 100%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 1s;
}
body #awards .inner .container {
  margin-top: 30px;
  float: right;
  width: 700px;
  transform: rotateY(180deg);
  opacity: 0;
  transition: 1s 0.5s;
}
body #awards .inner .container .tab {
  width: 700px;
  height: 100%;
  position: relative;
  margin: 0px;
  padding: 10px 10px 10px;
  border-top: 1px solid #333;
  overflow: hidden;
}
body #awards .inner .container .tab:hover label::after {
  color: rgb(203, 119, 10);
}
body #awards .inner .container .tab input[type=radio] {
  appearance: none;
  position: absolute;
}
body #awards .inner .container .tab input[type=radio]:checked + label::after {
  transform: rotate(135deg);
  opacity: 0;
}
body #awards .inner .container .tab input[type=radio]:checked ~ .content {
  max-height: 150px;
  padding: 0px 10px;
}
body #awards .inner .container .tab input[type=radio]:checked ~ .content p {
  color: #9a9a9a;
}
body #awards .inner .container .tab input[type=radio]:checked ~ label {
  margin: 0px 0px 5px;
}
body #awards .inner .container .tab input[type=radio]:checked ~ label h2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30px;
  left: 0px;
  color: rgba(255, 255, 255, 0.366);
  justify-content: flex-end;
  font-size: 70px;
  padding: 10px;
  transition: 0.5s;
}
body #awards .inner .container .tab input[type=radio]:checked ~ label h3 {
  padding: 0px 10px;
  font-weight: bold;
  color: rgb(203, 119, 10);
  border-radius: 2px;
}
body #awards .inner .container .tab label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
body #awards .inner .container .tab label::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 32px;
  transition: all 1s;
  color: rgb(110, 109, 109);
}
body #awards .inner .container .tab label h2 {
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #efefef;
  font-size: 20px;
  margin-right: 50px;
  margin-left: 10px;
}
body #awards .inner .container .tab label h3 {
  position: relative;
  font-weight: 500;
  color: #9a9a9a;
  z-index: 10;
}
body #awards .inner .container .tab .content {
  max-height: 0;
  transition: 1s;
  overflow: hidden;
  display: flex;
}
body #awards .inner .container .tab .content img {
  width: 200px;
  height: 150px;
  padding: 10px 0;
  margin: 0px 20px 0px 0px;
  filter: saturate(70%);
}
body #awards .inner .container .tab .content p {
  width: 400px;
  position: relative;
  padding: 10px 0;
  color: #ccc;
  z-index: 10;
}
body #awards.on .inner h1 {
  transform: translateY(0%);
  opacity: 1;
}
body #awards.on .inner .container {
  transform: rotateY(0deg);
  opacity: 1;
}
body #contact {
  width: 100%;
}
body #contact .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 30px 0px 80px;
  border-top: 2px solid #aaa;
  position: relative;
}
body #contact .inner::after {
  content: "";
  display: block;
  clear: both;
}
body #contact .inner h1 {
  float: left;
  width: 100%;
  margin-bottom: 60px;
  transform: translateY(-50%);
  opacity: 0;
  transition: 1s;
}
body #contact .inner .content {
  width: 580px;
  float: left;
  transform: translateX(-20%);
  opacity: 0;
  transition: 1s 0.5s;
}
body #contact .inner .content div {
  width: 280px;
  height: 210px;
  float: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
body #contact .inner .content div img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-bottom: 30px;
}
body #contact .inner .content div p {
  width: 100%;
  font-size: 18px;
  color: #efefef;
  margin-bottom: 15px;
}
body #contact .inner .content div span {
  width: 100%;
  font-size: 16px;
  color: #9a9a9a;
}
body #contact .inner .wrap {
  float: right;
  width: 580px;
  margin: 0px 0px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 50px 15px;
  transform: translateX(20%);
  opacity: 0;
  transition: 1s 0.5s;
}
body #contact .inner .wrap h2 {
  font-size: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}
body #contact .inner .wrap div {
  width: 100%;
  font-size: 14px;
}
body #contact .inner .wrap div label {
  width: 100%;
  display: block;
  padding: 15px 0px 3px;
  color: #9a9a9a;
}
body #contact .inner .wrap div input[type=text],
body #contact .inner .wrap div input[type=email] {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #333;
  background: none;
}
body #contact .inner .wrap div input[type=text]:focus,
body #contact .inner .wrap div input[type=email]:focus {
  outline: none;
}
body #contact .inner .wrap div select {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #333;
  background: none;
}
body #contact .inner .wrap div select:focus {
  outline: none;
}
body #contact .inner .wrap div select option {
  color: #0b0909;
}
body #contact .inner .wrap div textarea {
  width: 100%;
  height: 25px;
  margin-top: 5px;
  border: none;
  border-bottom: 2px solid #333;
  background: none;
  resize: none;
}
body #contact .inner .wrap div textarea:focus {
  outline: none;
}
body #contact .inner .wrap div input[type=submit] {
  width: 100px;
  height: 30px;
  border-radius: 0%;
  background-color: #efefef;
  color: #0b0909;
  margin: 15px 0px 0px 380px;
  cursor: pointer;
  transition: 0.5s;
}
body #contact .inner .wrap div input[type=submit]:hover {
  background-color: rgb(203, 119, 10);
  color: #efefef;
}
body #contact.on .inner h1 {
  transform: translateY(0%);
  opacity: 1;
  transition: 1s;
}
body #contact.on .inner .content {
  transform: translateX(0%);
  opacity: 1;
}
body #contact.on .inner .wrap {
  transform: translateX(0%);
  opacity: 1;
}
body #footer .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 30px 0px 20px;
  border-top: 2px solid #aaa;
}
body #footer .inner h1 {
  float: left;
  font-size: 15px;
  font-weight: 600;
}
body #footer .inner ul {
  float: right;
}
body #footer .inner ul li {
  float: left;
  margin-left: 20px;
}
body #footer .inner ul li a {
  font-size: 14px;
  color: #9a9a9a;
  transition: 0.5s;
}
body #footer .inner ul li a:hover {
  color: rgb(203, 119, 10);
}
body #footer .inner address {
  float: left;
  width: 100%;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  color: #9a9a9a;
  margin-top: 10px;
  margin-bottom: 10px;
}
body #footer .inner p {
  float: left;
  width: 100%;
  font-size: 13px;
  color: #9a9a9a;
  margin-bottom: 30px;
}
body #aside {
  width: 60vw;
  height: 60vh;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
body #aside .top {
  width: 0%;
  height: 1px;
  background: #efefef;
  position: absolute;
  top: 0px;
  left: 0px;
}
body #aside .right {
  width: 1px;
  height: 0%;
  background: #efefef;
  position: absolute;
  top: 0px;
  right: 0px;
}
body #aside .bottom {
  width: 0%;
  height: 1px;
  background: #efefef;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
body #aside .left {
  width: 1px;
  height: 0%;
  background: #efefef;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
body #aside .inner {
  width: 100%;
  height: 100%;
  background: #e4e4e4;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
body #aside .inner .pic {
  width: 30%;
}
body #aside .inner .content {
  width: 65%;
}
body #aside .inner .content h2 {
  font-size: 5vw;
  color: #0b0909;
  margin-bottom: 20px;
}
body #aside .inner .content p {
  font-size: 16px;
  line-height: 1.3;
  color: #9a9a9a;
}
body #aside .inner .content .btnClose {
  position: absolute;
  top: 40px;
  right: 40px;
}

@media screen and (max-width: 1179px) {
  body #header {
    padding: 5vh 5vw 0vh;
  }
  body #header .inner {
    width: 100%;
  }
  body #header .inner > h1 {
    display: none;
  }
  body #header .inner .menuWeb {
    display: none;
  }
  body #header .inner .btnCall {
    display: block;
  }
  body #header .inner .menuMo {
    display: block;
  }
  body #visual {
    width: 100%;
    height: calc(95vh - 110px);
    overflow: visible;
  }
  body #visual .inner .btnOpen {
    left: 12vw;
    top: 310px;
    bottom: 0px;
  }
  body #visual .inner .txt {
    width: 35vw;
    top: -110px;
    left: 12vw;
  }
  body #visual .inner .txt h1 {
    margin-bottom: 0px;
  }
  body #visual .inner .pic {
    top: 40px;
    right: 5vw;
    z-index: -1;
  }
  body #visual .wrap #slider {
    margin-top: 5.5vh;
    margin-left: 8vw;
  }
  body #visual .wrap .prev {
    margin-left: 8vw;
  }
  body #visual .wrap .next {
    margin-left: 10vw;
  }
  body #visual .wrap .pagination {
    display: none;
  }
  body #about .inner {
    width: 100%;
    padding: 3vw 5vw 5vw;
  }
  body #about .inner .txt {
    display: flex;
    flex-direction: column;
  }
  body #about .inner .txt h2 {
    width: 100%;
    margin-bottom: 15px;
  }
  body #about .inner .txt p {
    width: 100%;
  }
  body #portfolio .inner {
    width: 100%;
    padding: 3vw 5vw 5vw;
  }
  body #awards .inner {
    width: 100%;
    height: 670px;
    padding: 3vw 5vw 5vw;
  }
  body #awards .inner .container {
    margin-top: 6vh;
  }
  body #contact .inner {
    width: 100%;
    padding: 30px 5vw 50px;
  }
  body #contact .inner h1 {
    width: 100%;
  }
  body #contact .inner .content {
    width: 100%;
  }
  body #contact .inner .content div {
    width: 49%;
  }
  body #contact .inner .wrap {
    width: 100%;
    margin: 0 auto;
  }
  body #contact .inner .wrap div input[type=submit] {
    float: right;
    margin: 15px 0px 0px 0px;
  }
  body #footer .inner {
    width: 100%;
    padding: 3vw 5vw 5vh;
  }
  body #aside .inner .pic {
    margin-bottom: 2vh;
  }
}
@media screen and (max-width: 935px) {
  body #visual .inner .btnOpen {
    top: 325px;
  }
  body #visual .inner .txt {
    width: 45vw;
  }
  body #visual .inner .pic {
    height: 600px;
  }
  body #visual .wrap {
    display: none;
  }
  body #about .inner .txt p {
    width: 100%;
  }
  body #portfolio .inner .container {
    width: 100%;
  }
  body #portfolio .inner .container::after {
    content: "";
    display: block;
    clear: both;
  }
  body #portfolio .inner .container .tab {
    width: 100%;
    float: right;
  }
  body #portfolio .inner .container .tab ul {
    width: 40%;
    float: right;
  }
  body #portfolio .inner .container .tab ul li {
    float: left;
  }
  body #portfolio .inner .container section {
    width: 100%;
  }
  body #portfolio .inner .container section article {
    width: 100%;
    margin-right: 0px;
  }
  body #portfolio .inner .container section article div {
    width: 49%;
    margin-left: 2%;
  }
  body #portfolio .inner .container section article div:last-of-type {
    display: none;
  }
  body #awards .inner {
    width: 100%;
    height: 100%;
    padding: 3vw 5vw 5vw;
  }
  body #awards .inner .container {
    margin-top: 6vh;
    width: 80%;
  }
  body #awards .inner .container .tab {
    width: 100%;
  }
  body #awards .inner .container .tab input[type=radio]:checked ~ label h2 {
    font-size: 40px;
  }
  body #awards .inner .container .tab label h2 {
    margin-right: 20px;
  }
  body #awards .inner .container .tab label h3 {
    margin-right: 15px;
  }
  body #aside .inner {
    justify-content: space-around;
    align-content: center;
  }
  body #aside .inner .pic {
    width: 65%;
  }
  body #aside .inner .content {
    width: 80%;
  }
  body #aside .inner .content h2 {
    font-size: 4vw;
  }
  body #aside .inner .content p {
    font-size: 14px;
    line-height: 1.2;
  }
  body #aside .inner .content .btnClose {
    margin-top: -10px;
  }
}
@media screen and (max-width: 539px) {
  body #visual {
    height: 600px;
    min-height: auto;
  }
  body #visual .inner .btnOpen {
    left: 8vw;
    top: 180px;
  }
  body #visual .inner .txt {
    width: 40vw;
    left: 8vw;
  }
  body #visual .inner .txt h1 {
    font-size: 90px;
  }
  body #visual .inner .txt p {
    display: none;
  }
  body #visual .inner .pic {
    width: 70%;
    height: 55vh;
    margin-right: 0vw;
  }
  body #visual .wrap {
    display: none;
  }
  body #portfolio .inner .container .tab {
    width: 100%;
    float: left;
  }
  body #portfolio .inner .container .tab ul li {
    margin-left: 2vw;
  }
  body #portfolio .inner .container .tab ul li a {
    font-size: 11px;
  }
  body #portfolio .inner .container section {
    height: 250px;
  }
  body #portfolio .inner .container section article div {
    width: 100%;
  }
  body #portfolio .inner .container section article div:first-of-type {
    display: none;
  }
  body #awards .inner .container {
    width: 90%;
  }
  body #awards .inner .container .tab {
    padding: 10px 0px 10px;
  }
  body #awards .inner .container .tab input[type=radio]:checked ~ label h2 {
    display: none;
  }
  body #awards .inner .container .tab label h2 {
    font-size: 16px;
  }
  body #awards .inner .container .tab label h3 {
    font-size: 14px;
  }
  body #awards .inner .container .tab .content {
    flex-direction: column;
  }
  body #awards .inner .container .tab .content img {
    width: 150px;
    height: 100px;
  }
  body #awards .inner .container .tab .content p {
    width: 100%;
    height: 100%;
    padding: 2px 0;
  }
  body #contact .inner .wrap {
    width: 100%;
    margin: 50px 0vw 60px 0vw;
  }
  body #aside {
    top: 12%;
  }
  body #aside .inner {
    padding: 2vw;
    align-content: center;
  }
  body #aside .inner .pic {
    width: 70%;
    margin-top: 2vh;
  }
  body #aside .inner .content h2 {
    font-size: 20px;
    color: #0b0909;
    margin-bottom: 20px;
  }
  body #aside .inner .content p {
    font-size: 12px;
    line-height: 1.2;
    color: #0b0909;
  }
  body #aside .inner .content .btnClose {
    margin-top: -22px;
    margin-right: -20px;
  }
}

/*# sourceMappingURL=style.css.map */
