.joinResult {
	.inner {
		.wrap {
			width: 100%;
			height: 600px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: url(../img/join.jpg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			opacity: 0.8;
			.txt {
				width: 30%;
				height: 80%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 20px 30px;
				background-color: #efefef;
				i {
					font-size: 50px;
					color: #0b0909;
					margin-bottom: 20px;
				}
				p {
					font-size: 18px;
					color: rgb(110, 109, 109);
					margin-bottom: 40px;
					strong {
						font-size: 19px;
						color: rgb(110, 109, 109);
					}
				}
				span {
					font-size: 13px;
					line-height: 1.5;
					color: #9a9a9a;
					margin-bottom: 90px;
					text-align: center;
				}
				a {
					display: block;
					width: 100px;
					height: 30px;
					font-size: 16px;
					line-height: 30px;
					color: #efefef;
					background: linear-gradient(
						45deg,
						rgb(203, 119, 10),
						rgb(252, 114, 8)
					);
					text-align: center;
					transition: 0.5s;
					&:hover {
						background: linear-gradient(
							45deg,
							rgb(250, 158, 59),
							rgb(249, 157, 36)
						);
					}
				}
			}
		}
	}
}
