.notice {
	.inner {
		#noticeSearchBox {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			margin-bottom: 50px;
			overflow: hidden;
			font-size: 0;

			input[type="text"] {
				width: 300px;
				height: 30px;
				background-color: #0b0909;
				border: 1px solid #9a9a9a;
				padding-left: 10px;
				&:focus {
					outline: none;
				}
			}
			.btnNoticeSearch {
				width: 80px;
				height: 30px;
				background: linear-gradient(
					45deg,
					rgb(203, 119, 10),
					rgb(252, 114, 8)
				);
				font-size: 12px;
				line-height: 30px;
				text-align: center;
				border: none;
				cursor: pointer;
				margin-left: 10px;
				vertical-align: top;
				transition: 0.5s;
				&:hover {
					background: linear-gradient(
						45deg,
						rgb(250, 158, 59),
						rgb(249, 157, 36)
					);
				}
			}
		}

		table {
			width: 100%;
			border-bottom: 2px solid #333;
			border-collapse: collapse;
			margin-bottom: 50px;
			tr {
				&:hover td,
				&:hover a {
					color: rgb(203, 119, 10);
				}
				th {
					padding: 15px;
					background: rgba(70, 70, 70, 0.5);
					color: #efefef;
					&:nth-of-type(1) {
						width: 10%;
					}
					&:nth-of-type(2) {
						width: 15%;
					}
					&:nth-of-type(4) {
						width: 15%;
					}
				}
				td {
					padding: 15px 13px;
					border-bottom: 1px solid #444;
					text-align: center;
					color: #9a9a9a;
					&:nth-of-type(3) {
						font-family: "맑은 고딕";
						text-align: left;
					}
					a {
						color: #9a9a9a;
						line-height: 1.4;
					}
				}
			}
		}
		.pagination {
			width: 100%;
			text-align: center;
			&::after {
				content: "";
				display: block;
				clear: both;
			}

			.prev {
				float: left;
				display: block;
				width: 30px;
				height: 30px;
				color: #efefef;
				font-size: 20px;
				text-align: center;
			}
			.next {
				float: right;
				display: block;
				width: 30px;
				height: 30px;
				color: #efefef;
				font-size: 20px;
				text-align: center;
			}
			.numbers {
				display: inline-block;
				text-align: center;
				font-size: 0;
				a {
					display: inline-block;
					width: 30px;
					height: 30px;
					border: 1px solid #888;
					font-size: 11px;
					line-height: 30px;
					color: #666;
					margin: 0 5px;
					transition: 0.5s;
					&:hover {
						background: rgb(203, 119, 10);
						color: #efefef;
					}
				}
			}
		}
	}
}
// tablet - 1179px--------------------
@media screen and (max-width: $tablet) {
	.notice {
		.inner {
			table {
				tr {
					th {
						&:nth-of-type(1) {
							width: 13%;
						}
						&:nth-of-type(3) {
							width: 20%;
						}
						&:nth-of-type(4) {
							width: 0%;
							display: none;
						}
					}
					td {
						&:nth-of-type(4) {
							display: none;
						}
					}
				}
			}
			.pagination {
				.numbers {
					a {
						@for $i from 6 through 10 {
							&:nth-of-type(#{$i}) {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

// middle - 935px--------------------
// @media screen and (max-width: $middle) {
//   .notice{
//     .inner{

//     }
//   }
// }

// mobile - 539px -------------------
@media screen and (max-width: $mobile) {
	.notice {
		.inner {
			table {
				tr {
					th {
						font-size: 13px;
						&:nth-of-type(1) {
							width: 0%;
							display: none;
						}
						&:nth-of-type(3) {
							width: 29%;
						}
					}
					td {
						&:nth-of-type(1) {
							display: none;
						}
					}
				}
			}
			.pagination {
				.numbers {
					display: none;
				}
			}
		}
	}
}
