.vidList {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	article {
		width: 48%;
		height: 450px;
		border-top: 1px solid rgb(110, 109, 109);
		padding-top: 2vh;
		margin-bottom: 40px;
		.pic {
			display: block;
			width: 100%;
			height: 60%;
			padding: 10px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 0.5s;
				&:hover {
					opacity: 0.4;
				}
			}
		}
		.con {
			width: 100%;
			height: 40%;
			padding: 20px;
			h2 {
				font: bold 20px/1.2 "arial";
				color: #a9a9a9;
				margin-bottom: 15px;
			}
			p {
				font: 14px/1.4 "arial";
				color: rgb(110, 109, 109);
				margin-bottom: 20px;
			}
			span {
				font: bold 16px/1 "arial";
				color: rgb(203, 119, 10);
			}
		}
	}
	figure.pop {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.8);
		overflow: hidden;
		padding: 5vw;
		display: flex;
		justify-content: center;
		align-items: center;
		.btnClose {
			position: absolute;
			top: 50px;
			right: 50px;
			color: #fff;
			cursor: pointer;
		}
	}
}
// tablet - 1179px--------------------

// @media screen and (max-width: $tablet) {
// }

// 중간 - 935px--------------------

// @media screen and (max-width: $middle) {
// }

// mobile - 539px -------------------
@media screen and (max-width: $mobile) {
	.vidList {
		article {
			width: 100%;
			margin-bottom: 25px;
		}
	}
}
