@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;&display=swap");

$tablet: 1179px;
$middle: 935px;
$mobile: 539px;

@import "reset.scss";
@import "sub_layout.scss";
@import "about.scss";
@import "portfolio.scss";
@import "youtube.scss";
@import "contact.scss";
@import "community.scss";
@import "join.scss";
@import "joinResult.scss";

/*
전체
color:#efefef;
톤다운 1
color:#a9a9a9;
톤다운 2
color: rgb(110, 109, 109);
포인트
color: rgb(203, 119, 10);
*/

body {
	// &.on {
	// 	#visual {
	// 		opacity: 1;
	// 	}
	// }
	#skipNavi {
		z-index: 10;
		// position: absolute;
		li {
			a {
				display: block;
				width: 100%;
				height: 40px;
				background: rgba(236, 233, 233, 0.666);
				font-size: 15px;
				font-weight: bold;
				line-height: 40px;
				color: #0b0909;
				text-align: center;
				position: fixed;
				left: 0;
				top: -40px;
				&.on {
					top: 0;
				}
			}
		}
	}
	.scroll {
		position: fixed;
		right: 2vw;
		top: 50%;
		transform: translateY(-50%);
		z-index: 20;
		li {
			// background-color: rgba(109, 108, 108, 0.167);
			// background-color: rgba(143, 140, 140, 0.384);
			display: flex;
			justify-content: flex-end;
			align-content: center;

			a {
				display: block;
				width: 9px;
				height: 9px;
				line-height: 24px;
				margin-left: 1vw;
				border-radius: 1px;
				background-color: rgb(110, 109, 109);
				margin-bottom: 20px;
				cursor: pointer;
				transition: 0.5s;
			}
			p {
				font-size: 10px;
				color: rgb(110, 109, 109);
				cursor: pointer;
				opacity: 0;
				transition: 1;
			}
			&.on a,
			&:hover.a {
				transform: scale(1.1);
				background-color: #efefef;
			}
			&:hover p {
				opacity: 1;
			}
		}
	}
	// header 영역
	#header {
		width: 100%;
		padding: 50px 0vw 0vh;
		.inner {
			width: 1180px;
			height: 110px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			position: relative;
			> h1 {
				width: 11%;
				margin-right: 14%;
				a {
					display: block;
					width: 100%;
					font-size: 16px;
					font-weight: bold;
				}
			}
			.menuWeb {
				width: 75%;
				&::after {
					content: "";
					display: block;
					clear: both;
				}
				#gnb {
					float: left;
					li {
						float: left;
						margin-right: 20px;
						a {
							font-size: 14px;
							transition: 0.5s;

							&:hover {
								color: rgb(203, 119, 10);
							}
						}
					}
				}
				.sns {
					float: right;
					li {
						float: left;
						margin-right: 20px;

						&:last-of-type {
							margin-right: 0px;
						}
						a {
							font-size: 14px;
							i {
								transition: 0.5s;
							}
							&:hover {
								i {
									color: rgb(203, 119, 10);
								}
							}
						}
					}
				}
			}
			.btnCall {
				position: absolute;
				right: 0vw;
				top: 10%;
				transform: translateY(-50%);
				display: none;
				width: 20px;
				height: 20px;
				&::before {
					content: "";
					display: block;
					width: 100%;
					height: 2px;
					background-color: #efefef;
					position: absolute;
					top: 0;
					left: 0;
					transition: top 0.5s 0s, transform 0.5s 0.5s;
				}
				&::after {
					content: "";
					display: block;
					width: 100%;
					height: 2px;
					background-color: #efefef;
					position: absolute;
					bottom: 0;
					left: 0;
					transition: bottom 0.5s 0s, transform 0.5s 0.5s;
				}
				span {
					display: block;
					width: 100%;
					height: 2px;
					background-color: #efefef;
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -1px;
					transition: 1s;
					text-indent: -9999px;
				}
				&.on {
					&::before {
						top: 50%;
						margin-top: -1px;
						transform: rotate(45deg);
					}
					&::after {
						bottom: 50%;
						margin-bottom: -1px;
						transform: rotate(-45deg);
					}
					span {
						transform: translateX(100%);
						opacity: 0;
					}
				}
			}
			.menuMo {
				width: 270px;
				height: 100vh;
				background-color: #efefef;
				text-align: center;
				position: fixed;
				top: 0;
				left: -270px;
				padding: 35px 30px;
				z-index: 10;
				transition: 0.5s;
				display: none;
				&.on {
					left: 0;
				}
				h1 {
					padding-bottom: 30px;
					border-bottom: 1px solid rgb(172, 166, 166);
					a {
						display: block;
						font-size: 24px;
						color: #0b0909;
						text-align: left;
						line-height: 1.4;
						display: flex;
						justify-content: center;
					}
					p {
						font-size: 12px;
						color: #464646;
					}
				}
				#gnbMo {
					margin-bottom: 300px;
					li {
						a {
							display: block;
							width: 100%;
							padding: 20px 0;
							border-bottom: 1px solid rgb(172, 166, 166);
							font-size: 14px;
							color: #636262;
						}
					}
				}
				.snsMo {
					display: block;
					width: 100%;
					padding: 20px 0;
					display: flex;
					justify-content: space-evenly;
					li {
						a {
							i {
								font-size: 13px;
								color: #636262;
							}
						}
					}
				}
			}
		}
	}

	// visual 영역
	#visual {
		width: 1180px;
		height: calc(100vh - 110px - 50px);
		// header padding- top, header inner height 마이너스
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		min-height: 750px;
		&.off {
			.btnOpen {
				margin-bottom: -100%;
				opacity: 0;
			}
			.txt {
				margin-top: -100%;
				opacity: 0;
			}
			.pic {
				margin-right: -100%;
				opacity: 0;
			}
			#slider,
			.prev,
			.next,
			.pagination {
				margin-left: -100%;
				opacity: 0;
			}
		}
		// &.on {
		// 	.inner {
		// 		.btnOpen {
		// 			transform: translateY(0%);
		// 		}
		// 	}
		// }
		.inner {
			width: 100%;
			height: 100%;
			// margin: 0 auto;
			.btnOpen {
				display: block;
				width: 150px;
				height: 20px;
				position: absolute;
				left: 25%;
				bottom: 98px;
				font-size: 14px;
				line-height: 20px;
				color: rgb(203, 119, 10);
				text-decoration-line: underline;
				transition: 1s 0s;
				&:hover {
					color: rgb(249, 173, 110);
					font-size: 15px;
				}
			}
			.txt {
				width: 300px;
				position: absolute;
				top: 0;
				left: 25%;
				transition: 1s 0s;
				h1 {
					margin-bottom: 200px;
					font-size: 120px;
					font-weight: 500;
				}
				p {
					font-size: 16px;
					color: rgb(110, 109, 109);
				}
			}
			.pic {
				width: 470px;
				height: 650px;
				position: absolute;
				top: 10px;
				right: 0;
				overflow: hidden;
				transition: 1s 0.2s;
				> img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					filter: saturate(70%);
					transition: 0.5s;
					&:hover {
						transform: scale(1.2);
					}
				}
			}
			.wrap {
				#slider {
					width: 250px;
					height: 300px;
					position: absolute;
					top: 290px;
					left: 0;
					overflow: hidden;
					transition: 1s 0.4s;
					ul {
						width: calc(100% * 5);
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						li {
							width: calc(100% / 5);
							height: 100%;
							float: left;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
								filter: saturate(70%);
								transition: 0.5s;
								&:hover {
									transform: scale(1.2);
								}
							}
						}
					}
				}
				.prev {
					width: 100px;
					height: 15px;
					position: absolute;
					left: 0;
					bottom: 98px;
					transition: 1s 0.4s;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.next {
					width: 100px;
					height: 15px;
					position: absolute;
					left: 13%;
					bottom: 98px;
					transition: 1s 0.4s;
					img {
						width: 100px;
						height: 100%;
					}
				}
				.pagination {
					width: 100%;
					height: 20px;
					position: absolute;
					top: 400px;
					left: 0;
					margin-left: 25%;
					font-size: 18px;
					font-weight: 400;
					transition: 1s 0.4s;
				}
			}
		}
	}

	// about 영역
	#about {
		.inner {
			width: 1180px;
			margin: 0 auto;
			padding: 30px 0px 70px;
			border-top: 2px solid #9a9a9a;

			h1 {
				margin-bottom: 30px;
				transform: translateY(-50%);
				opacity: 0;
				transition: 1s;
			}
			.txt {
				display: flex;
				justify-content: space-between;
				h2 {
					width: 400px;
					font-size: 18px;
					color: #9a9a9a;
					transform: translateX(-20%);
					opacity: 0;
					transition: 1s 0.5s;
				}
				p {
					width: 600px;
					font-size: 17px;
					text-align: justify;
					color: rgb(110, 109, 109);
					transform: translateX(20%);
					opacity: 0;
					transition: 1s 0.5s;
				}
			}
		}
		&.on {
			.inner {
				h1 {
					transform: translateY(0%);
					opacity: 1;
				}
				.txt {
					h2 {
						transform: translateX(0%);
						opacity: 1;
					}
					p {
						transform: translateX(0%);
						opacity: 1;
					}
				}
			}
		}
	}

	// portfolio 영역
	#portfolio {
		width: 100%;

		.inner {
			width: 1180px;
			margin: 0 auto;
			padding: 30px 0px 70px;
			border-top: 2px solid #aaa;
			overflow: hidden;
			position: relative;

			&::after {
				content: "";
				display: block;
				clear: both;
			}
			h1 {
				float: left;
				transform: translateY(-50%);
				opacity: 0;
				transition: 1s;
			}

			.container {
				width: 1180px;
				float: right;
				overflow: hidden;
				transform: translateY(50%);
				opacity: 0;
				transition: 1s 0.5s;
				&::after {
					content: "";
					display: block;
					clear: both;
				}
				.tab {
					width: 500px;
					float: right;
					margin: 30px 0px 20px;
					ul {
						width: 100%;
						display: flex;
						justify-content: flex-end;
						li {
							width: 100%;
							height: 20px;
							float: left;
							margin-left: 2vw;
							a {
								display: block;
								width: 100%;
								height: 100%;
								font-size: 14px;
								color: rgb(110, 109, 109);
								display: flex;
								justify-content: center;
								align-items: center;
								transition: 0.5s;
								&:hover {
									color: rgb(203, 119, 10);
								}
							}
							&.on {
								a {
									color: rgb(203, 119, 10);
									text-decoration: underline;
								}
							}
						}
					}
				}
				section {
					width: 820px;
					height: 250px;
					position: relative;
					float: right;
					article {
						width: 100%;
						height: 100%;
						transition: 0.5s;
						position: absolute;
						top: 0;
						right: 0;
						z-index: 1;
						overflow: hidden;
						display: none;
						opacity: 0;
						&.on {
							display: block;
							opacity: 1;
						}
						div {
							width: 260px;
							height: 100%;
							float: left;
							margin-left: 20px;
							overflow: hidden;
							position: relative;
							&:first-of-type {
								margin-left: 0px;
							}
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
								filter: saturate(70%);
								transition: 0.5s;
							}
							p {
								display: block;
								width: 100%;
								position: absolute;
								bottom: 17px;
								left: 0;
								text-align: center;
								font-size: 13px;
								letter-spacing: 4px;
								color: #eee;
								opacity: 0;
								z-index: 4;
							}
							&::after {
								content: "";
								display: block;
								width: 100%;
								height: 50px;
								background-color: rgba(0, 0, 0, 0.5);
								position: absolute;
								bottom: -50px;
								left: 0;
								opacity: 0.8;
								transition: 0.5s;
								z-index: 3;
							}
							&:hover {
								img {
									transform: scale(1.2);
									bottom: 0;
								}
								p {
									opacity: 1;
								}
								&::after {
									bottom: 0px;
								}
							}
						}
					}
				}
			}
		}
		&.on {
			.inner {
				h1 {
					transform: translateY(0%);
					opacity: 1;
				}
				.container {
					transform: translateY(0%);
					opacity: 1;
				}
			}
		}
	}

	// awards 영역
	#awards {
		.inner {
			width: 1180px;
			height: 650px;
			margin: 0 auto;
			padding: 30px 0px 30px;
			border-top: 2px solid #aaa;
			&::after {
				content: "";
				display: block;
				clear: both;
			}
			h1 {
				float: left;
				width: 100%;
				transform: translateY(-50%);
				opacity: 0;
				transition: 1s;
			}
			.container {
				margin-top: 30px;
				float: right;
				width: 700px;
				transform: rotateY(180deg);
				opacity: 0;
				transition: 1s 0.5s;
				.tab {
					width: 700px;
					height: 100%;
					position: relative;
					// background: #333;
					margin: 0px;
					padding: 10px 10px 10px;
					border-top: 1px solid #333;
					overflow: hidden;
					&:hover label::after {
						color: rgb(203, 119, 10);
					}
					input[type="radio"] {
						appearance: none;
						position: absolute;
						// &:checked ^ .tab{
						// }
						&:checked + label::after {
							transform: rotate(135deg);
							// color: rgb(203, 119, 10);
							opacity: 0;
						}
						&:checked ~ .content {
							max-height: 150px;
							padding: 0px 10px;

							p {
								color: #9a9a9a;
							}
						}
						&:checked ~ label {
							margin: 0px 0px 5px;
						}
						&:checked ~ label h2 {
							width: 100%;
							height: 100%;
							position: absolute;
							top: 30px;
							left: 0px;
							color: rgba(255, 255, 255, 0.366);
							// color: rgb(203, 119, 10);
							justify-content: flex-end;
							font-size: 70px;
							padding: 10px;
							transition: 0.5s;
						}
						&:checked ~ label h3 {
							padding: 0px 10px;
							font-weight: bold;
							// color: #efefef;
							color: rgb(203, 119, 10);
							border-radius: 2px;
						}
					}
					label {
						display: flex;
						align-items: center;
						// margin-bottom: 10px;
						cursor: pointer;
						&::after {
							content: "+";
							position: absolute;
							right: 20px;
							font-size: 32px;
							transition: all 1s;
							color: rgb(110, 109, 109);
						}
						h2 {
							width: 60px;
							height: 40px;
							display: flex;
							justify-content: center;
							align-items: center;
							color: #efefef;
							font-size: 20px;
							margin-right: 50px;
							margin-left: 10px;
						}
						h3 {
							position: relative;
							font-weight: 500;
							color: #9a9a9a;
							z-index: 10;
						}
					}
					.content {
						max-height: 0;
						transition: 1s;
						overflow: hidden;
						display: flex;
						img {
							width: 200px;
							height: 150px;
							padding: 10px 0;
							margin: 0px 20px 0px 0px;
							// z-index: 10;
							filter: saturate(70%);
						}
						p {
							width: 400px;
							position: relative;
							padding: 10px 0;
							color: #ccc;
							z-index: 10;
						}
					}
				}
			}
		}
		&.on {
			.inner {
				h1 {
					transform: translateY(0%);
					opacity: 1;
				}
				.container {
					transform: rotateY(0deg);
					opacity: 1;
				}
			}
		}
	}

	// contact 영역
	#contact {
		width: 100%;
		.inner {
			width: 1180px;
			margin: 0 auto;
			padding: 30px 0px 80px;
			border-top: 2px solid #aaa;
			position: relative;
			&::after {
				content: "";
				display: block;
				clear: both;
			}
			h1 {
				float: left;
				width: 100%;
				margin-bottom: 60px;
				transform: translateY(-50%);
				opacity: 0;
				transition: 1s;
			}
			.content {
				width: 580px;
				float: left;
				transform: translateX(-20%);
				opacity: 0;
				transition: 1s 0.5s;
				div {
					width: 280px;
					height: 210px;
					float: left;
					padding: 20px;
					// text-align: center;
					display: flex;
					flex-direction: column;
					// justify-content: space-evenly;
					// align-items: center;
					img {
						width: 32px;
						height: 32px;
						object-fit: cover;
						margin-bottom: 30px;
					}
					p {
						width: 100%;
						// height: 100%;
						font-size: 18px;
						color: #efefef;
						margin-bottom: 15px;
					}
					span {
						width: 100%;
						// height: 100%;
						font-size: 16px;
						color: #9a9a9a;
					}
				}
			}
			.wrap {
				float: right;
				width: 580px;
				margin: 0px 0px 20px;
				display: flex;
				flex-direction: column;
				position: relative;
				padding: 10px 50px 15px;
				transform: translateX(20%);
				opacity: 0;
				transition: 1s 0.5s;
				h2 {
					font-size: 40px;
					margin-bottom: 10px;
					display: flex;
					// justify-content: center;
					align-items: flex-start;
				}
				div {
					width: 100%;
					font-size: 14px;
					label {
						width: 100%;
						display: block;
						padding: 15px 0px 3px;
						color: #9a9a9a;
					}
					input[type="text"],
					input[type="email"] {
						width: 100%;
						height: 30px;
						border: none;
						border-bottom: 2px solid #333;
						background: none;
						&:focus {
							outline: none;
						}
					}
					select {
						width: 100%;
						height: 30px;
						border: none;
						border-bottom: 2px solid #333;
						background: none;
						&:focus {
							outline: none;
						}
						option {
							color: #0b0909;
						}
					}
					textarea {
						width: 100%;
						height: 25px;
						margin-top: 5px;
						border: none;
						border-bottom: 2px solid #333;
						background: none;
						resize: none;
						&:focus {
							outline: none;
						}
					}
					input[type="submit"] {
						width: 100px;
						height: 30px;
						border-radius: 0%;
						background-color: #efefef;
						color: #0b0909;
						margin: 15px 0px 0px 380px;
						cursor: pointer;

						transition: 0.5s;

						// position: absolute;
						// right: 0;
						// bottom: -40px;
						&:hover {
							background-color: rgb(203, 119, 10);
							color: #efefef;
						}
					}
				}
			}

			// p {
			// 	width: 500px;
			// 	font-size: 22px;
			// 	color: #9a9a9a;
			// 	position: absolute;
			// 	top: 40%;
			// 	left: 0;
			// 	margin: 0 3vw;
			// 	transform: translateX(-20%);
			// 	opacity: 0;
			// 	transition: 1s 0.5s;
			// }

			// .wrap {
			// 	float: right;
			// 	width: 400px;
			// 	margin: 150px 4vw 50px 0px;
			// 	display: flex;
			// 	flex-direction: column;
			// 	transform: translateX(20%);
			// 	opacity: 0;
			// 	transition: 1s 0.5s;
			// 	div {
			// 		width: 100%;
			// 		font-size: 14px;
			// 		label {
			// 			width: 100%;
			// 			display: block;
			// 			padding: 15px 0px 3px;
			// 		}
			// 		input[type="text"],
			// 		input[type="email"] {
			// 			width: 100%;
			// 			height: 30px;
			// 			border: none;
			// 			border-bottom: 2px solid #333;
			// 			background: none;
			// 			&:focus {
			// 				outline: none;
			// 			}
			// 		}
			// 		select {
			// 			width: 100%;
			// 			height: 30px;
			// 			border: none;
			// 			border-bottom: 2px solid #333;
			// 			background: none;
			// 			&:focus {
			// 				outline: none;
			// 			}
			// 			option {
			// 				color: #0b0909;
			// 			}
			// 		}
			// 		textarea {
			// 			width: 100%;
			// 			height: 25px;
			// 			margin-top: 5px;
			// 			border: none;
			// 			border-bottom: 2px solid #333;
			// 			background: none;
			// 			resize: none;
			// 			&:focus {
			// 				outline: none;
			// 			}
			// 		}
			// 		input[type="submit"] {
			// 			width: 100px;
			// 			height: 30px;
			// 			border-radius: 0%;
			// 			background-color: #efefef;
			// 			color: #0b0909;
			// 			margin: 30px 0px 0px 300px;
			// 			// position: absolute;
			// 			// right: 4vw;
			// 			// bottom: 6vh;
			// 			transition: 1s;
			// 			&:hover {
			// 				background-color: rgb(203, 119, 10);
			// 			}
			// 		}
			// 	}
			// }
		}
		&.on {
			.inner {
				h1 {
					transform: translateY(0%);
					opacity: 1;
					transition: 1s;
				}
				.content {
					transform: translateX(0%);
					opacity: 1;
				}
				.wrap {
					transform: translateX(0%);
					opacity: 1;
				}
				// p {
				// 	transform: translateX(0%);
				// 	opacity: 1;
				// }
				// .wrap {
				// 	transform: translateX(0%);
				// 	opacity: 1;
				// }
			}
		}
	}

	// footer 영역
	#footer {
		.inner {
			width: 1180px;
			margin: 0 auto;
			padding: 30px 0px 20px;
			border-top: 2px solid #aaa;
			h1 {
				float: left;
				font-size: 15px;
				font-weight: 600;
			}
			ul {
				float: right;
				li {
					float: left;
					margin-left: 20px;
					a {
						font-size: 14px;
						color: #9a9a9a;
						transition: 0.5s;
						&:hover {
							color: rgb(203, 119, 10);
						}
					}
				}
			}
			address {
				float: left;
				width: 100%;
				font-style: normal;
				font-size: 13px;
				line-height: 1.5;
				color: #9a9a9a;
				margin-top: 10px;
				margin-bottom: 10px;
			}
			p {
				float: left;
				width: 100%;
				font-size: 13px;
				color: #9a9a9a;
				margin-bottom: 30px;
			}
		}
	}

	// aside 영역
	#aside {
		width: 60vw;
		height: 60vh;
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translateX(-50%);
		display: none;
		.top {
			width: 0%;
			height: 1px;
			background: #efefef;
			position: absolute;
			top: 0px;
			left: 0px;
		}
		.right {
			width: 1px;
			height: 0%;
			background: #efefef;
			position: absolute;
			top: 0px;
			right: 0px;
		}
		.bottom {
			width: 0%;
			height: 1px;
			background: #efefef;
			position: absolute;
			bottom: 0px;
			right: 0px;
		}
		.left {
			width: 1px;
			height: 0%;
			background: #efefef;
			position: absolute;
			bottom: 0px;
			left: 0px;
		}
		.inner {
			width: 100%;
			height: 100%;
			background: #e4e4e4;
			position: absolute;
			top: 0px;
			left: 0px;
			opacity: 0;
			padding: 50px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			.pic {
				width: 30%;
			}
			.content {
				width: 65%;
				h2 {
					font-size: 5vw;
					color: #0b0909;
					margin-bottom: 20px;
				}
				p {
					font-size: 16px;
					line-height: 1.3;
					color: #9a9a9a;
				}
				.btnClose {
					position: absolute;
					top: 40px;
					right: 40px;
				}
			}
		}
	}
}

// tablet - 1179px--------------------
@media screen and (max-width: $tablet) {
	body {
		// header 영역
		#header {
			padding: 5vh 5vw 0vh;
			.inner {
				width: 100%;
				> h1 {
					display: none;
				}
				.menuWeb {
					display: none;
				}
				.btnCall {
					display: block;
				}
				.menuMo {
					display: block;
				}
			}
		}

		// visual 영역
		#visual {
			width: 100%;
			height: calc(100vh - 5vh - 110px);
			overflow: visible;
			.inner {
				.btnOpen {
					left: 12vw;
					top: 310px;
					bottom: 0px;
				}
				.txt {
					width: 35vw;
					top: -110px;
					left: 12vw;
					h1 {
						margin-bottom: 0px;
					}
				}
				.pic {
					top: 40px;
					right: 5vw;
					z-index: -1;
				}
			}
			.wrap {
				#slider {
					margin-top: 5.5vh;
					margin-left: 8vw;
				}
				.prev {
					margin-left: 8vw;
				}
				.next {
					margin-left: 10vw;
				}
				.pagination {
					display: none;
				}
			}
		}

		// about 영역
		#about {
			.inner {
				width: 100%;
				padding: 3vw 5vw 5vw;
				.txt {
					display: flex;
					flex-direction: column;
					h2 {
						width: 100%;
						margin-bottom: 15px;
					}
					p {
						width: 100%;
						// text-align: justify;
					}
				}
			}
		}

		// portfolio 영역
		#portfolio {
			.inner {
				width: 100%;
				padding: 3vw 5vw 5vw;
			}
		}

		// awards 영역
		#awards {
			.inner {
				width: 100%;
				height: 670px;
				padding: 3vw 5vw 5vw;
				.container {
					margin-top: 6vh;
				}
			}
		}

		// contact 영역
		#contact {
			.inner {
				width: 100%;
				padding: 30px 5vw 50px;
				h1 {
					width: 100%;
				}
				.content {
					width: 100%;
					div {
						width: 49%;
					}
				}
				.wrap {
					width: 100%;
					margin: 0 auto;
					div {
						input[type="submit"] {
							float: right;
							margin: 15px 0px 0px 0px;
						}
					}
				}
				// p {
				// 	display: none;
				// }
				// .wrap {
				// 	margin: 50px 4vw 60px 0vw;
				// 	div {
				// 		input[type="submit"] {
				// 			margin: 2vh 5vw 0vh 0vw;
				// 			// right: 0;
				// 			// bottom: 0;
				// 		}
				// 	}
				// }
			}
		}

		// footer 영역
		#footer {
			.inner {
				width: 100%;
				padding: 3vw 5vw 5vh;
			}
		}

		// aside 영역
		#aside {
			.inner {
				.pic {
					margin-bottom: 2vh;
				}
			}
		}
	}
}

// 중간 - 935px--------------------
@media screen and (max-width: $middle) {
	body {
		// header 영역
		// #header {
		// 	.inner {

		// 	}
		// }

		// visual 영역
		#visual {
			.inner {
				.btnOpen {
					top: 325px;
				}
				.txt {
					width: 45vw;
				}
				.pic {
					height: 600px;
				}
			}
			.wrap {
				display: none;
			}
		}

		// about 영역
		#about {
			.inner {
				.txt {
					p {
						width: 100%;
						// text-align: justify;
					}
				}
			}
		}

		#portfolio {
			.inner {
				.container {
					width: 100%;
					&::after {
						content: "";
						display: block;
						clear: both;
					}
					.tab {
						width: 100%;
						float: right;
						ul {
							width: 40%;
							float: right;
							li {
								float: left;
							}
						}
					}
					section {
						width: 100%;
						// height: 250px;
						article {
							width: 100%;
							margin-right: 0px;
							div {
								width: 49%;
								margin-left: 2%;
								&:last-of-type {
									display: none;
								}
							}
						}
					}
				}
			}
		}
		// awards 영역
		#awards {
			.inner {
				width: 100%;
				height: 100%;
				padding: 3vw 5vw 5vw;
				.container {
					margin-top: 6vh;
					width: 80%;
					.tab {
						width: 100%;
						input[type="radio"] {
							&:checked ~ label h2 {
								font-size: 40px;
							}
						}
						label {
							h2 {
								margin-right: 20px;
							}
							h3 {
								margin-right: 15px;
							}
						}
					}
				}
			}
		}

		// contact 영역

		// footer 영역

		// aside 영역
		#aside {
			.inner {
				// flex-direction: column;
				justify-content: space-around;
				align-content: center;
				.pic {
					width: 65%;
				}
				.content {
					width: 80%;
					h2 {
						font-size: 4vw;
					}
					p {
						font-size: 14px;
						line-height: 1.2;
					}
					.btnClose {
						margin-top: -10px;
					}
				}
			}
		}
	}
}

// mobile - 539px -------------------
@media screen and (max-width: $mobile) {
	body {
		// header 영역

		// visual 영역
		#visual {
			height: 600px;
			min-height: auto;
			.inner {
				.btnOpen {
					left: 8vw;
					top: 180px;
				}
				.txt {
					width: 40vw;
					left: 8vw;
					h1 {
						font-size: 90px;
					}
					p {
						display: none;
					}
				}
				.pic {
					width: 70%;
					height: 55vh;
					// bottom: 22vh;
					margin-right: 0vw;
				}
			}
			.wrap {
				display: none;
			}
		}

		// about 영역

		// portfolio 영역 (수정해야함)
		#portfolio {
			.inner {
				.container {
					.tab {
						width: 100%;
						float: left;
						ul {
							li {
								margin-left: 2vw;
								a {
									font-size: 11px;
								}
							}
						}
					}
					section {
						height: 250px;
						article {
							div {
								width: 100%;
								&:first-of-type {
									display: none;
								}
							}
						}
					}
				}
			}
		}

		// awards 영역
		#awards {
			.inner {
				// height: 650px;
				.container {
					width: 90%;
					.tab {
						padding: 10px 0px 10px;
						input[type="radio"] {
							&:checked ~ label h2 {
								display: none;
							}
						}
						label {
							h2 {
								font-size: 16px;
							}
							h3 {
								font-size: 14px;
							}
						}
						.content {
							flex-direction: column;
							img {
								width: 150px;
								height: 100px;
							}
							p {
								width: 100%;
								height: 100%;
								padding: 2px 0;
							}
						}
					}
				}
			}
		}

		// contact 영역
		#contact {
			.inner {
				.wrap {
					width: 100%;
					margin: 50px 0vw 60px 0vw;
				}
			}
		}

		// footer 영역

		// aside 영역
		#aside {
			top: 12%;
			.inner {
				padding: 2vw;
				align-content: center;
				.pic {
					width: 70%;
					margin-top: 2vh;
				}
				.content {
					h2 {
						font-size: 20px;
						color: #0b0909;
						margin-bottom: 20px;
					}
					p {
						font-size: 12px;
						line-height: 1.2;
						color: #0b0909;
					}
					.btnClose {
						margin-top: -22px;
						margin-right: -20px;
					}
				}
			}
		}
	}
}
